.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 300px;
  padding: 2rem;
  height: 100%;
  width: 100%;
  margin-right: 300px;
}

.content h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.content ul {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Ensures the list grows to take available space */
}

.content ul li {
  margin-bottom: 0.5rem;
}

.content ul li a {
  text-decoration: none;
  color: #007bff;
}

.content ul li a:hover {
  text-decoration: underline;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;;
}

.nav-button {
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  text-align: center;
  padding: 2rem;
  margin-right: 1rem;
  border-radius: 4px;
  width: 100%;
}

.nav-button:hover {
  background: #f8f9fa;
}


.nav-button:disabled {
  background: #cccccc;
}
